In [8]:
import pandas as pd
import numpy as np

n_rows = n_cols = 10

data = np.arange(1, (n_rows*n_cols)+1).reshape(n_rows,n_cols).tolist()
index = ['row '+str(i) for i in range(n_rows)]
columns = [chr(97+i) for i in range(n_rows)]

df = pd.DataFrame(
    data = data,
    index = index,
    columns = columns,
)
display(df)

        a   b   c   d   e   f   g   h   i    j
row 0   1   2   3   4   5   6   7   8   9   10
row 1  11  12  13  14  15  16  17  18  19   20
row 2  21  22  23  24  25  26  27  28  29   30
row 3  31  32  33  34  35  36  37  38  39   40
row 4  41  42  43  44  45  46  47  48  49   50
row 5  51  52  53  54  55  56  57  58  59   60
row 6  61  62  63  64  65  66  67  68  69   70
row 7  71  72  73  74  75  76  77  78  79   80
row 8  81  82  83  84  85  86  87  88  89   90
row 9  91  92  93  94  95  96  97  98  99  100